*.la
*.lo
*.kdev4
.kdev4/
*.[oa]
*~
*.swp
Makefile
Makefile.in
.deps
am
configure
config.*
autom4te.cache/
depcomp
doc/doxygen/Doxyfile.in
doc/doxygen/Doxyfile
doc/doxygen/doxygen-tag
doc/doxygen/man
doc/doxygen/latex
doc/doxygen/html
dune-pnp.pc
install-sh
libtool
ltmain.sh
missing
src/ipbs
stamp-h1
aclocal.m4
dependencies.m4
